
/*Measurement*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*Totalla maxbredd, Margin & padding*/
$total-width: 100%;
$page-width: 100rem;
$center-margin: 0 auto;
$padding-base: 2rem;
$padding-component: 1rem;
$margin-base: 2rem;
$margin-menu: 1rem;
$gap-base: 2rem;
$page-width: 100rem;

/*Standrad border radius*/
$component-radius: 100px;

/*Bakgrundsfärger*/
$bg-base: #FFF5D3;
$bg-orange: #F7996C;
$bg-footer: #000000;

/*Bakgrundsfärger dark*/
$bg-dark: #131314;
$head-dark: #0A1F41;
$nav-dropmenu-dark: #0A1F41;

/*Button*/
$btn-color: #AABFAC;
$btn-dark: #0A1F41;

/*Skugga*/
$item-shadow: 0 2px 5px 1px rgba(19,19,20,0.6);

/*img-radius*/
$img-radius: 50px;

@mixin btn-link {
    background-color: $btn-color;
    font-size: 2rem;
    font-weight: bold;
    border: 0;
    border-radius: $component-radius;
    width: 100%;
    max-width: 30rem;
    padding: $padding-base;
    cursor: pointer;
    margin-top: $margin-base;
}

button {
    @include btn-link;
    &:hover {
        background-color: darken($btn-color, 15%);
    }
}




