@use "base";

/*Font rules*/

$font-family-base : 'Poppins',
sans-serif;


/*Typsnitt färger*/
$text-dark: #0A1F41;
$text-light: #ffffff;

/*Typsnitt storlek*/
$base-font-size : 1rem;
$text-p-size : 1.8rem;
$base-line-height : 1.5;
$font-h1 : 4.2rem;
$font-h2 : 3.2rem;
$font-h3 : 2.4rem;
$font-link : 2rem;
$font-list : 1.6rem;
$font-drop-menu : 3.2rem;
$font-banner-small : 3.2rem;
$text-margin : 0 0 1rem 0;
$text-length : 55ch;

@mixin text-body {
    color: $text-dark;
    font-family: $font-family-base;
}

h1 {
    font-size: $font-h1;
    margin: 0;
}

h2 {
    font-size: $font-h2;
}

h3 {
    font-size: $font-h3;
    margin: $text-margin;
}

p {
    font-size: $text-p-size;
    max-width: $text-length;
    line-height: $base-line-height;
    margin: 0 0 2rem 0;

    &:first-of-type {
        margin: 0 0 4rem 0;
    }
}
