@use '../base/base';
@use 'grid';
@use '../base/typography';

footer {
    @include grid.grid-footer;
    width: 100%;
    height: 14rem;
    background-color: base.$bg-footer;

    ul {
        color: typography.$text-light;
        font-size: typography.$font-list;
        padding: base.$padding-component;
        list-style: none;
    }
    li {
        text-align: center;
    }
}