/*Logotyp*/
@use '../base/typography';
@use '../base/base';
@use 'grid';

.logotyp {
    width: 100%;
    max-width: 25rem;

    a:hover {
        text-decoration: none !important;
    }
}

header {
    @include grid.grid-header;
    background-color: base.$bg-orange;
    padding: base.$padding-base;
    height: 14rem;
    display: flex;
    box-shadow: base.$item-shadow;
    position: fixed;
    width: 100vw;
    z-index: 20;
}