/*Logotyp*/
@use '../base/typography';
@use '../base/base';

.logotyp {
    width: 100%;
    max-width: 25rem;

    a:hover {
        text-decoration: none !important;
    }
}

header {
    background-color: base.$background-head;
    padding: base.$padding-base;
    height: 14rem;
    display: flex;
    box-shadow: base.$item-shadow;
}