@use '../base/typography';
@use '../base/base';

@mixin nav-link-style {
    width: 100%;
    list-style: none;
    font-size: typography.$font-link;
    white-space: nowrap;
    background-color: base.$background-base;
    border-radius: base.$component-radius;
}

nav {
    width: 100%;
    max-height: 10rem;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        gap: 5rem;
        z-index: 5;
    }

    li {
        list-style: none;

        #active {
            @include nav-link-style();
            color: typography.$text-dark;
        }
    }

    a {
        text-decoration: none;
        font-size: typography.$font-link;
        color: typography.$text-dark;
        padding: base.$padding-component;

        &:hover {
            @include nav-link-style();
            color: typography.$text-dark;
        }
    }

    .menu-text {
        display: none;
    }
    .hamburger {
        display: none;
    }
    

}