@use '../base/typography';
@use '../base/base';

@mixin nav-link-style {
    width: 100%;
    list-style: none;
    font-size: typography.$font-link;
    white-space: nowrap;
    background-color: base.$bg-base;
    border-radius: base.$component-radius;
}

nav {
    width: 100vw;
    max-height: 10rem;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: base.$padding-base;

    ul {
        display: flex;
        align-items: center;
        gap: 5rem;
        z-index: 5;
    }

    li {
        list-style: none;

        #active {
            @include nav-link-style;
            color: typography.$text-dark;
        }
    }

    a {
        text-decoration: none;
        font-size: typography.$font-link;
        color: typography.$text-dark;
        padding: base.$padding-component;
        transition: all 0.3s ease-in-out;
        border-radius: base.$component-radius;

        &:hover {
            background-color: base.$bg-base;
            color: typography.$text-dark;

        }
    }

    .menu-text {
        display: none;
        font-size: typography.$font-link;
        position: relative;
        margin-right: 0.5rem;
    }

    .hamburger {
        display: none;
    }


}