@use '../base/base';

.animate-container {
    height: 120rem;
}


.text-banner {
    height: 10rem;
    width: 100%;
    position: relative;
    margin-top: 14rem;
    color: black;
    padding: 2rem;
    font-size: 6rem;
    white-space: nowrap;
    text-transform: uppercase;
    animation: animate_banner 15s linear forwards infinite;
    display: flex;
    align-items: center;
}

.scroll-text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    background-color: white;
    box-shadow: inset 0 0 5px 2px rgba(19, 19, 20, 0.6);
}

.text-banner span {
    margin: 0 8rem;
}

.images-wrap {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 50rem 2rem 0 2rem;

    img {
        display: block;
        width: 100%;
    }
}

@keyframes animate_banner {
    0% {
        transform: translateX(-1%);
    }

    100% {
        transform: translateX(-95%);
    }
}

.blink-text {
    display: inline;
    position: relative;
    top: 20rem;
    left: 20rem;
    font-size: 2.4rem;
    margin: 2rem;
    animation: car_text 7s 1s forwards;
}

.car {
    display: flex;
    position: absolute;
    right: 10rem;
    top: 15rem;
    padding: base.$padding-base;
    animation: drive 8.7s 1s forwards;
}

.car-time {
    animation: change_time 6s 2s linear;
}

.car-time:after {
    content: "";
    animation: change_time 6s 2s linear;
}

@keyframes change_time {
    0% {
        content: "5";
    }
    20% {
        content: "4";
    }
    40% {
        content: "3";
    }

    60% {
        content: "2";
    }

    80% {
        content: "1";
    }

    100% {
        content: "Kör";
    }
}


@keyframes drive {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-10, 10);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: translate(-2000px, 200px) scale(1.8);
    }

}

@keyframes car_text {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}