@use '../base/base';

.animate-container {
    height: 120rem;
}


.text-banner {
    height: 10rem;
    width: 100%;
    position: relative;
    margin-top: 14rem;
    color: black;
    padding: 2rem;
    font-size: 6rem;
    white-space: nowrap;
    text-transform: uppercase;
    animation: animate_banner 15s linear forwards infinite;
    display: flex;
    align-items: center;
}

.scroll-text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    background-color: white;
    box-shadow: inset 0 0 5px 2px rgba(19, 19, 20, 0.6);
}

.text-banner span {
    margin: 0 8rem;
}

.images-wrap {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 50rem 2rem 0 2rem;

    img {
        display: block;
        width: 100%;
    }
}

@keyframes animate_banner {
    0% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(-95%);
    }
}

.car {
    display: flex;
    position: absolute;
    right: 10rem;
    top: 15rem;
    padding: base.$padding-base;
    animation: drive 10s 8.5s forwards;
}

.blink-text {
    display: inline;
    position: relative;
    top: 20rem;
    left: 20rem;
    font-size: 2.4rem;
    margin: 2rem;
    animation: car_text 10s 5s forwards;
}

.drive-text {
    @extend .blink-text;
    opacity: 0;
    visibility: hidden;
    animation: drive_now 2.5s 15s forwards;
}

@keyframes drive {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-10, 10);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: translate(-2000px, 200px) scale(1.8);
    }

}

@keyframes car_text {
    0% {
        opacity: 1;
        visibility: visible;
    }

    20% {
        opacity: 0;
        visibility: hidden;
    }

    40% {
        opacity: 1;
        visibility: visible;
    }

    60% {
        opacity: 0;
        visibility: hidden;
    }

    80% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes drive_now {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}