@use "../base/base";

.titel-diagram {
    margin: 0 auto;
    margin-top: 14rem;
    max-width: base.$page-width;
    padding: base.$padding-base;
}

.diagram {
    padding: base.$padding-base;
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: base.$margin-base;
    background-color: base.$bg-base;

    &:last-child {
        max-width: 60rem;
    }
}

.subtitle {
    margin: 0 auto;
    text-align: center;
    padding: base.$padding-base;
}

.subtitle-middle {
    @extend .subtitle;
    text-align: center;
}
