@use '../base/base';
@use '../base/typography';
@use '../layout/grid';

@mixin base-body {
    background-color: base.$bg-base;
    width: 100%;
    margin: base.$center-margin;
}


main {
    @include grid.grid-main;
}

%img-container {
    padding: base.$padding-base;
    display: flex;
    justify-content: space-between;
    gap: base.$gap-base;
    max-width: base.$page-width;
    width: 100%;
    margin: base.$center-margin;
    margin-top: 14rem;
    margin-bottom: base.$margin-base;
    align-items: center;
}

.text-img-container {
    @extend %img-container;
    
    img {
        display: block;
        width: 100%;
        max-width: 40rem;
        box-shadow: base.$item-shadow;
        border-radius: base.$img-radius;
    }

    .image-text {
        max-width: 60rem;
        width: 100%;
    }
}

.sass-list {
    font-size: typography.$font-list;
    font-style: italic;
    margin: 2rem 0 2rem 4rem;

    li {
        margin-bottom: 0.5rem;
    }
}