@use "../base/base";
@use "diagram";

.titel-karta {
    @extend .titel-diagram;
}

/*Kartan behöver mått för att synas på sidan*/
#map {
    height: 500px;
    max-width: base.$page-width;
    z-index: 1;
    margin: 0 auto 2rem;
}


